/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.gameButton {
    flex-wrap: nowrap;
    height:100%;
}

.gameRestart {
    flex-wrap: nowrap;
    height:100%;
    background-color: cornflowerblue;
    border: cornflowerblue;
}

.gameRow {
    flex-wrap: nowrap;
}

.gameBoard {
    flex-wrap: nowrap;
}

.gameBr {
    visibility:hidden;
    margin: 0px;
    padding: 0px;
}
